.loader {
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.cities-list {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
}

.weater-box {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.current-weather-icon {
  width: 64px;
}

.current-weather {
  font-size: 1.5rem;
  font-weight: 200;
}

.min-max-temp {
  font-size: 1rem;
}

.current-temp {
  font-size: 3rem;
  font-weight: 200;
}

.wind {
  position: relative;
}

.wind-dir {
  position: absolute;
}

.wind-speed {
  margin-left: 1rem;
}